node_modules/
smart-finder-frontend/node_modules/
smart-finder-backend/node_modules/
smart-finder-frontend/build/

.env
smart-finder-backend/.env
smart-finder-frontend/.env
smart-finder-frontend/.env.local
smart-finder-frontend/.env.development.local
smart-finder-frontend/.env.test.local
smart-finder-frontend/.env.production.local

uploads/
smart-finder-backend/uploads/*
!smart-finder-backend/uploads/.gitignore

/src/
/package.json
/package-lock.json
/data.docx
/Old_Documentation/
/Old_Documentation.pdf

/smart-finder-frontend/README.md
/smart-finder-frontend/20945206.jpg
/smart-finder-frontend/public/hero.jpg
/Diagrams/

FinalDocumentation/
_STUDENT_ATTENDANCE_SYSTEM_WITH_REAL_TIME_ALERT_KrushnaliSadhana/
_STUDENT_ATTENDANCE_SYSTEM_WITH_REAL_TIME_ALERT_KrushnaliSadhana.zip
Fuel_Delivery_On_Demand.pdf
ORGAN_SHARING___DONATOR_AND_FINDER_WEB_PORTAL.pdf

desktop.ini
~$*
